---
import "../styles/global.css";
import RootLayout from "../layouts/RootLayout.astro";
import { AccordionComponent } from "@/components/Accordion";
import { getEntry } from "astro:content";

const post = await getEntry({
  collection: "experience",
  id: "experience",
});

if (!post) {
  throw new Error("experience.mdx not found");
}

const { title, center, sections } = post.data;
---

<RootLayout content={{ title, center }}>
  <div class="flex flex-col gap-5">
    <!-- Educations -->
    <h3
      class="scroll-m-20 border-b pb-2 text-2xl font-semibold tracking-tight first:mt-0"
    >
      {sections.education.heading}
    </h3>
    {
      sections.education.items.map(
        (edu: { school: string; description: string }) => (
          <>
            <h4 class="scroll-m-20 text-xl font-semibold tracking-tight">
              {edu.school}
            </h4>
            <p class="text-muted-foreground text-sm md:text-base">
              {edu.description}
            </p>
          </>
        )
      )
    }

    <!-- Certifications -->
    <h3
      class="scroll-m-20 border-b pb-2 text-2xl font-semibold tracking-tight first:mt-0"
    >
      {sections.certifications.heading}
    </h3>
    {
      sections.certifications.items.map(
        (cert: { title: string; description: string }) => (
          <>
            <h4 class="scroll-m-20 text-base font-semibold tracking-tight">
              {cert.title}
            </h4>
            <p class="text-muted-foreground text-sm md:text-base">
              {cert.description}
            </p>
          </>
        )
      )
    }

    <!-- Experiences -->
    <!-- TODO: 多数の会社履歴が表示されるように修正 -->
    <h3
      class="scroll-m-20 border-b pb-2 text-2xl font-semibold tracking-tight first:mt-0"
    >
      {sections.experience.heading}
    </h3>
    <h4 class="scroll-m-20 text-base font-semibold tracking-tight">
      {sections.experience.company}
    </h4>
    <p class="text-muted-foreground text-sm md:text-base">
      {sections.experience.description}
    </p>

    {
      sections.experience.projects.map(
        (project: { title: string; description: string }) => (
          <AccordionComponent
            title={project.title}
            description={project.description}
            client:load
          />
        )
      )
    }
  </div>
</RootLayout>
