---
import "../styles/global.css";
import RootLayout from "../layouts/RootLayout.astro";
import { getEntry } from "astro:content";

const post = await getEntry({
  collection: "index",
  id: "index",
});

if (!post) {
  throw new Error("index.mdx not found");
}

const {
  title,
  center,
  intro,
  points,
  "important-title": importantTitle,
} = post.data;
---

<RootLayout content={{ title, center }}>
  <div>
    <h1
      class="scroll-m-20 text-2xl font-extrabold tracking-tight mb-3 lg:text-3xl"
    >
      {intro.greeting}
    </h1>
    <h1 class="scroll-m-20 text-3xl font-extrabold tracking-tight lg:text-4xl">
      {intro.name}
    </h1>
    <p class="leading-7 [&:not(:first-child)]:my-6">
      {intro.description}
    </p>

    <p class="text-muted-foreground">{importantTitle}</p>

    <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
      {
        points.map((point: string) => (
          <li class="text-xs md:text-base">{point}</li>
        ))
      }
    </ul>
  </div>
</RootLayout>
